{% extends 'base.html.twig' %} {% block title %}Nouveau mot de passe {% endblock
%} {% block body %}

<section class="bg-indigo-50 dark:bg-blue-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl text-center font-bold leading-tight tracking-tight text-cyan-400 md:text-2xl dark:text-white"
        >
          Réinitialisation mot de passe
        </h1>
        {{ form_errors(form_reset) }}
        <div>
          <p id="message_reset_password">&nbsp;</p>
        </div>
        {{
          form_start(form_reset, {
            attr: {
              novalidate: "novalidate",
              class: "space-y-4 md:space-y-6",
              id: "reset_password_form"
            }
          })
        }}
        <div>
          {{ form_widget(form_reset.password) }}
          <div class="text-sm text-red-700">
            {{ form_errors(form_reset.password) }}
            <small id="passwordSmall"></small>
          </div>
        </div>
        <button
          type="submit"
          class="w-full btn-info my-3"
          id="submit_reset_password"
        >
          Envoyer
        </button>
        {{ form_end(form_reset) }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
