{% extends 'base.html.twig' %} {% block title %}inscription{% endblock %} {%
block body %}

<section class="bg-blue-50 dark:bg-blue-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow-lg dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl text-center font-bold leading-tight tracking-tight text-blue-500 md:text-2xl dark:text-white"
        >
          Inscription
        </h1>

        {{
          form_start(registrationForm, {
            attr: {
              novalidate: "novalidate",
              class: "space-y-4 md:space-y-6",
              id: "registration_form"
            }
          })
        }}
        <div>
          {{ form_label(registrationForm.email) }}
          {{ form_widget(registrationForm.email) }}
          <div class="text-xs text-red-700">
            {{ form_errors(registrationForm.email) }}
            <small id="emailSmall"></small>
          </div>
        </div>
        <div>
          {{ form_label(registrationForm.pseudo) }}
          {{ form_widget(registrationForm.pseudo) }}
          <div class="text-xs text-red-700">
            {{ form_errors(registrationForm.pseudo) }}
            <small id="pseudoSmall"></small>
          </div>
        </div>
        <div>
          {{ form_label(registrationForm.plainPassword) }}
          {{ form_widget(registrationForm.plainPassword) }}
          <div class="text-xs text-red-700">
            {{ form_errors(registrationForm.plainPassword) }}
            <small id="plainPasswordSmall"></small>
          </div>
        </div>
        <div>
          {{ form_label(registrationForm.zip) }}
          {{ form_widget(registrationForm.zip) }}
          <div class="text-xs text-red-700">
            {{ form_errors(registrationForm.zip) }}
            <small id="zipSmall"></small>
          </div>
        </div>
        <div>
          {{ form_label(registrationForm.city) }}
          {{ form_widget(registrationForm.city) }}
          <div class="text-xs text-red-700">
            {{ form_errors(registrationForm.city) }}
            <small id="citySmall"></small>
          </div>
        </div>
        <div class="flex items-start">
          <div class="flex items-center h-5">
            {{ form_widget(registrationForm.agreeTerms) }}
          </div>
          <div class="ml-3 text-sm">
            {{ form_label(registrationForm.agreeTerms) }}
          </div>
          <div class="text-xs text-red-700 ml-2">
            {{ form_errors(registrationForm.agreeTerms) }}
          </div>
        </div>
        <button
          type="submit"
          id="registration_form_submit"
          class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        >
          Cr&eacute;er votre compte
        </button>
        <p class="text-xs font-light text-gray-500 dark:text-gray-400">
          D&eacute;j&agrave; inscrit ? &nbsp;&nbsp;
          <a
            href="#"
            class="font-medium text-primary-500 hover:underline dark:text-primary-500"
            >&nbsp;Connexion</a
          >
        </p>
        {{ form_end(registrationForm) }}
      </div>
    </div>
  </div>
</section>
{% endblock %}
